
  <!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <style>
          /* CSS used here will be applied after bootstrap.css */
    
    body { 
       background: url('https://bootdey.com/img/Content/bg1.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     }
     
     .panel-default
      {
      opacity: 0.9;
      margin-top:30px;
     }
    
     .form-group.last 
     {
      margin-bottom:0px;
     }
      
          </style>
        
        <script>
            
        </script>
      </head>
  <body>
     <div class="col-md-12">
          <form action="logs" method="post">
               {% csrf_token %}
       <div class="row">
      <div class="col-md-4 float-left">

      </div>
     <div class="col-md-4 float-left" style="margin-top :8%;"> 
       <div class="card">
     
      <div class="card-body">
        <h5 class="text-muted">SignIn</h5>
          {% if msg == 3 %}
          
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Please!</strong> give Valid Inputs!!
              </div>
          {% elif msg == 1 %}
          
                <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Wrong!!</strong> User Name or Password!!!
                </div>
          {% elif msg == 2 %}
 
          
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                   <strong>User Name!</strong>  should not be empty!!
                </div>
           {% elif msg == 4 %}
 
          
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     Wrong!<strong>User Name!</strong> 
                </div>
          {% endif %}
       
          User Name
         
              <input type ="text" placeholder="User Name" class = "form-control" name="user" id="user">       
                  Password
                   <input type ="password"  placeholder="Password" class = "form-control" name="pass"> 
                 
                 
                 
                    <br>
                    
                   <input type ="submit" value="SignIn" id="SignIn" class="btn btn-primary"> 
                  <a href="signup"><input type ="button" value="SignUp" id="SignUp" class= "btn btn-primary"></a>
                   <input type ="reset" value="Reset" id="Reset" class= "btn btn-primary"> 
                  <div class="panel-footer">Forget password? <a href="otp" class="" id="demo">Click here</a>
                  </div>
                
                   
   </div>
  </div>

     <div class="col-md-4 float-right"></div>   
 </div>
</div>
</form>
</div>
  </body>
  </html>